﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container1">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-2" style="display:none"id="sidemenu">
                    @{
                        if (ViewBag.CategoryList != null)
                        {
                            @*if (ViewBag.CategoryList.Count > 0)
                            {
                                foreach (var rec in ViewBag.CategoryList)
                                {
                                    <div style="padding:10px;border-bottom:1px solid #b1adad"><a href="#" style="color:black">@rec.CatagoryName</a></div>
                                    
                                }

                            }*@
                        }
                    }
                </div>

                    <div class="col-md-12" style="border-left: 1px solid;min-height: 700px;    height: 700px;">
                        @RenderBody()
                    </div>
                </div>
           
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display:none">
        <div class="container">
            &copy; 2020 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Common.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
